@media screen
and (max-width: 320px) {
  .logo {
    width: 126px;
    height: 24px;
    margin: 30px 30px 30px;
  }
  .profile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 35px;
    justify-items: center;
  }
  .profile__info {
    column-gap: 10px;
    justify-items: center;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .profile__name {
    font-size: 22px;
    line-height: 27px;
  }
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__add-button-container {
    width: 282px;
    justify-self: center;
  }
  .elements {
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-items: center;
  }
  .footer {
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }
  .pop-up__container {
    width: 282px;
    height: 322px;
    top: 125px;
    left: 19px;
  }
  .pop-up__close-button {
    height: 26px;
    right: 0;
  }
  .pop-up__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 70px 25px;
  }
  .user-box input {
    width: 238px;
  }
  .button {
    width: 238px;
  }
}